@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  font-family: $primary-font;
  font-weight: $primary-weight;
}
