.searchbar {
  &__formCont {
    display: flex;

    &__form {
      display: flex;
      // flex-wrap: wrap;
      align-items: center;
      gap: 1.6rem;
      margin-right: 50px;

      @media (max-width:600px) {
        margin-right: 0;
        flex-wrap: wrap;
      }
    }
  }

  &__leftrow {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {

      margin-right: 10px;
    }
  }

  &__input {
    padding: 1rem 49.5rem 1rem 1.7rem;
    border-radius: $input-border-radius;
    border: $input-border solid $input-default-border-color;
    background-color: $input-default-bg-color;
    color: $input-default-text-color;
    font-family: $primary-font;
    font-weight: $primary-weight;
    font-size: $font-big;

    @media (max-width:900px) {

      padding: 1rem 14rem 1rem 1.7rem;
    }


    @include mq(mobile, max) {
      width: 90vw;
    }

    &::placeholder {
      color: $input-default-placeholder-color;
    }

    &--hover {
      transition: $transition;

      &:hover {
        border-color: $input-hover-border-color;
        background-color: $input-hover-bg-color;

        &::placeholder {
          color: #646464;
          transition: $transition;
        }
      }
    }

    &:focus-visible {
      outline: none;
    }

    &--danger {
      border-color: $input-error-border-color;
      background-color: $input-error-bg-color;

      &::placeholder {
        color: $input-error-text-color;
      }
    }
  }

  &__button {
    padding: 0.9rem 4rem;
    font-size: $font-big;
    background-color: $default-button-bg-color;
    color: $default-button-text-color;
    border-radius: $button-border-radius;
    border: transparent;
    cursor: pointer;

    &:hover {
      background-color: $hover-button-bg-color;
    }
  }

  /* Sample Results */

  &__samples {
    position: relative;
    max-width: 90vw;
    margin-top: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $border-primary-color;
    border-radius: 4px;
    z-index: 5;
    background-color: white;

    @media screen and (min-width: 920px) {
      width: 720px;
      display: inline-block;
    }
  }

  &__list {
    overflow-y: auto;
    max-height: 300px;

    @media screen and (min-width: 1140px) {
      padding: 1.3rem 3rem 3.6rem;
      max-height: 300px;
    }
  }

  &__listitem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 2rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-bottom: solid 2px #adacac;

    &--hover {
      &:hover {
        background-color: #4F75C236;
        border-radius: 4px;

        .searchbar__date-and-name-text {
          color: #ffffff;
        }
      }
    }
  }

  &__date-and-name {
    margin: 0.5rem 0 0.25rem 0;

    &-text {
      //styleName: Small/Tight/Regular;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: #72777A;
    }
  }

  &__location-text {
    //styleName: Regular/Tight/Regular;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #090A0A;
  }

  &__email {
    margin-right: 5rem;
    text-align: left;

    &-text {
      font-size: $font-med;
      color: $samples-email-color;
    }
  }

  &__show-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    span {
      color: $showmore-button-color;
      font-size: $font-small;
    }
  }
}