.search-results {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin-top: 7rem;
  &__list-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__list {
    width: 910px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }

  .searchbar__list {
    padding: 1rem 1.8rem 1rem;
  }
}

.searchbar {
  &__form {
    justify-content: center;
  }
  &__rightside{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
